// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
}

h1 {
  font-size: 20px;
}

table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}
table th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border: 1px solid #ccc;
}
table td {
  padding: 10px;
  vertical-align: top;
  border: 1px solid #ccc;
}